.item {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
    margin-bottom: 15px;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 40px;
    background-color: rgb(156, 231, 156);
    color: rgb(24, 16, 14);
    font-weight: 400;
    font-size: 20px;
    border: none;
    cursor: pointer;
}

.button:hover,
.button:focus {
    background-color: rgb(79, 157, 2);
}