.form {
    margin-bottom: 50px;
}

.label {
    font-size: 20px;
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.title {
    font-weight: 600;
    color: green;
    margin-bottom: 5px;
}

.input {
    height: 40px;
    padding: 0 10px 0 10px;
    border: 1px solid grey;
    color: rgb(48, 38, 19);
    font-size: 20px;
}


.button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 40px;
    background-color: rgb(156, 231, 156);
    color: rgb(24, 16, 14);
    font-weight: 400;
    font-size: 20px;
    border: none;
    cursor: pointer;
}

.button:hover,
.button:focus {
    background-color: rgb(79, 157, 2);
}